<!DOCTYPE html>
<html>
<head>
  <title>Page Title</title>
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="http://cdn.jsdelivr.net/handlebarsjs/3.0.3/handlebars.amd.js"></script>
  <script src="http:////cdn.jsdelivr.net/handlebarsjs/3.0.3/handlebars.amd.min.js"></script>
</head>
<body>

  <div class="row">
    <div class="col s12 m8 l9">
      <div class="row">
        <h1>Please add your chapter here!</h1>
        <form  action="<%= course_chapters_path({course_id: @course.id}) %>" method="post">
          <div id="chapter-form">
            <h5> Chapter Number {{ content }} </h5>
            <input type="text" name="chapter_name[]" placeholder="Chapter Name" class="col s6">
            <div class="row">
              <textarea name="chapter_description[]" placeholder="Chapter Description" class="materialize-textarea"></textarea>
            </div>
          </div>
          <input id="form-btn" type="submit" name"Submit" class="btn">
        </form>
        <div><br>
          <button  class="add_field_button btn"> Add Another Chapter</button>
        </div>
        <!-- Hidden Form to clone with jquery -->
        <div hidden>
          <form id="chapter-form" action="<%= new_course_chapter_path(@course) %>" method="post">
            <div id="input-field">
              <script id="handlebar" type="text/x-handlebars-template">​
              <h5 id="counterForChapters"> Chapter Number {{ content }} </h5>
              </script>
              <input type="text" name="chapter_name[]" placeholder="Chapter Name" class="input-field col s6">
              <div class="row">
                <textarea name="chapter_description[]" placeholder="Chapter Description" class="materialize-textarea"></textarea>
              </div>
            </div>
          </form>
          <input id="form-btn" type="submit" name"Submit" class="btn">
        </div>
      </div>
    </div>
  </div>

</body>

<table>
    <tr>
        <th>Band Name</th>
        <th>Date</th>
        <th>Album Name</th>
    </tr>
    {{#each Bands}}
        <tr>
            <td>{{Name}}</td>
            <td>{{Date}}</td>
            <td>{{Albums.0.Name}}</td>
        </tr>
    {{/each}}
</table>

<!-- template -->
<script>​

​</script>



<script>
$(function() {
  var max_fields      = 10; //maximum input boxes allowed
  var inputs          = $("#input-field"); //Fields wrapper
  var wrapper         = $("#chapter-form");
  var add_button      = $(".add_field_button"); //Add button ID
  var x               = 1;
  var form_btn        = $("#form-btn");

  add_button.on("click", function(e){
    e.preventDefault();
    if(x < max_fields){
      x++;
      var each_form = inputs;
      wrapper.append(inputs.clone());
    }
  });
});
</script>

</html>