<!DOCTYPE html>
<html>
<head>
  <title>Page Title</title>
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
  <script type="text/javascript">

var counter = 1;

$(document).ready(function() {

  $("#addMe").click(function(){
    counter++;

    $(".theCount").last().text(counter);
  });

});
</script>
</head>
<body>

  <div class="row">
    <div class="col s12 m8 l9">
      <div class="row">
        <h1>Please add your chapter here!</h1>
        <form  action="<%= course_chapters_path({course_id: @course.id}) %>" method="post">
          <div id="chapter-form">
            <h5> Chapter Number <span class="theCount">1</span> </h5>
            <input type="text" name="chapter_name[]" placeholder="Chapter Name" class="col s6">
            <div class="row">
              <textarea name="chapter_description[]" placeholder="Chapter Description" class="materialize-textarea"></textarea>
            </div>
          </div>
          <input id="form-btn" type="submit" name"Submit" class="btn">
        </form>
        <div><br>
          <button id="addMe" class="add_field_button btn"> Add Another Chapter</button>
        </div>
        <!-- Hidden Form to clone with jquery -->
        <div hidden>
          <form id="chapter-form" action="<%= new_course_chapter_path(@course) %>" method="post">
            <div id="input-field">

              <h5> Chapter Number <span class="theCount">1</span> </h5>

              <input type="text" name="chapter_name[]" placeholder="Chapter Name" class="input-field col s6">
              <div class="row">
                <textarea name="chapter_description[]" placeholder="Chapter Description" class="materialize-textarea"></textarea>
              </div>
            </div>
          </form>
          <input id="form-btn" type="submit" name"Submit" class="btn">
        </div>
      </div>
    </div>
  </div>

</body>



<!--This is our template. -->
<!--Data will be inserted in its according place, replacing the brackets.-->
<script id="address-template" type="text/x-handlebars-template">
  <p>You can find me in {{city}}. My address is {{number}} {{street}}.</p>
</script>

<!--Your new content will be displayed in here-->
<div class="content-placeholder"></div>

<script>
  $(function () {
  // Grab the template script
  var theTemplateScript = $("#address-template").html();

  // Compile the template
  var theTemplate = Handlebars.compile(theTemplateScript);

  // Define our data object
  var context={
    "city": "London",
    "street": "Baker Street",
    "number": "221B"
  };

  // Pass our data to the template
  var theCompiledHtml = theTemplate(context);

  // Add the compiled html to the page
  $('.content-placeholder').html(theCompiledHtml);
});
</script>



<script>
$(function() {
  var max_fields      = 10; //maximum input boxes allowed
  var inputs          = $("#input-field"); //Fields wrapper
  var wrapper         = $("#chapter-form");
  var add_button      = $(".add_field_button"); //Add button ID
  var x               = 1;
  var form_btn        = $("#form-btn");

  add_button.on("click", function(e){
    e.preventDefault();
    if(x < max_fields){
      x++;
      var each_form = inputs;
      wrapper.append(inputs.clone());
    }
  });
});
</script>



</html>